/**
 * Styles for crud-editor component.
 *
 * @name 			crud-editor
 * @project 	p17-0008-tribe-manager-app
 * @author 		Christian Blaschke <mail@platdesign.de>
 * @since			September 21st 2017, 5:39:17 pm
 */

.component {
	background: white;

	.listItem {
		cursor: pointer;
	}

	.swipeNavBtn {
		min-width: 5em;
	}


}
