/**
 * Styles for selector component.
 *
 * @name 			selector
 * @project 	zue
 * @author 		Christian Blaschke <mail@platdesign.de>
 * @since			October 6th 2017, 4:49:56 pm
 */

.component {
	position: relative;
	flex: 1 1 auto;
	display: flex;
	flex-direction: column;

	&:focus {
		outline: none;

		.value {
			background:var(--zue-color-primary__20);
		}
	}

	.value {
		flex: 1 1 auto;
		cursor: pointer;
		background: var(--zue-color-silver-light);
		min-height: 1em;
		user-select: none;
		padding: var(--zue-space__md);

		&.slotted {
			padding:0;
		}
	}

	.popup {
		background: white;
		position: absolute;
		width: 100%;
		top: 100%;
		box-shadow: 0 .2em 1em 0 rgba(black, .2);
		z-index: 1;
		max-height: 30vh;

		.options {

			.option {
				cursor: pointer;
				user-select: none;
				padding: var(--zue-space__md);

				&:hover {
					background: rgba(black, .05);
				}

				&.slotted {
					padding:0;
				}

				&.focus {
					background:var(--zue-color-primary__20);
				}
			}

			.noResult {
				padding: var(--zue-space__xl);
				text-align: center;
				font-style: italic;
				color: var(--zue-color-silver-dark);
			}
		}

		.search {
			padding: var(--zue-space__md);
			background: var(--zue-color-silver-ultralight);


		}
	}
}
