//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			navbar
	@project 	zue
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 7th 2017, 3:22:41 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="[$css.component, $css[`cs-${cs}`], $css[`kind-${kind}`]]")
	slot
