//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for view.

	@name			app
	@project 	zue
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 6th 2017, 11:36:20 am
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.view--app
	modal-view

	aside
		router-link(
			tag="li",
			v-for="comp in components",
			:to="{ name: 'component', params: { componentName: comp.name, activeComponent: comp }}",
			:key="comp.name"
		)
			span {{ comp.name }}


	main
		router-view
		//-template(v-if="activeComponent")
			h1 {{ activeComponent.name }}
			section.example(v-for="example in activeComponent.examples")
				header
					span {{ example.name }}
				main
					component(:is="example")
