//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			input-tags
	@project 	p17-0008-tribe-manager-app
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 3rd 2017, 3:37:51 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -



input-wrap(
	:class="$css.component",
	:label="label",
	:help="help"
)
	template(slot="help", v-if="$slots.help")
		slot(name="help")

	template(slot="default", scope="scope")
		tags(v-model="value", :id="scope.id")
