//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for view.

	@name			ex1
	@project 	zue
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 6th 2017, 1:48:15 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


viw.view--ex1(split="cols")
	viw(collapse)
		H1 Hello
	viw
		search(v-model="query", placeholder="Search")
