//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for view.

	@name			default
	@project 	zue
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 6th 2017, 4:50:31 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


.view--default
	selector(v-model="model", :options="options")

	br
	br
	selector(v-model="model", :options="options", :searchable="true")

	br
	br

	selector(v-model="model", :options="options")
		template(slot="option", scope="scope")
			b {{ scope.option }}

	br

	selector(
		v-model="model",
		:options="options",
		:searchable="true"
	)
		template(slot="option", scope="scope")
			b {{ scope.option }}
