//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			modal
	@project 	p17-0008-tribe-manager-app
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		October 5th 2017, 10:21:05 am
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="$css.component")
	slot
