//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			view
	@project 	p17-0008-tribe-manager-app
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		September 9th 2017, 3:38:30 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


div(:class="style")
	slot
