/**
 * Styles for input-wrap component.
 *
 * @name 			input-wrap
 * @project 	p17-0008-tribe-manager-app
 * @author 		Christian Blaschke <mail@platdesign.de>
 * @since			September 26th 2017, 11:21:46 pm
 */

.component {
	--space: 1em;
	position: relative;

	&+.component {
		border-top: 1px solid #ccc;
	}

	.label {
		display: block;
		color: var(--zue-color-primary__70);
		padding: var(--space) var(--space) calc(var(--space)/2) var(--space);
	}

	.input {
		padding: 0 var(--space) calc(var(--space)/2) var(--space);
	}

	.help {
		position: absolute;
		right: var(--space);
		top: calc(var(--space)/2);
		font-size: .8em;
	}
}
