//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -
	Pug-Template for component

	@name			tab
	@project 	p17-0008-tribe-manager-app
	@author 	Christian Blaschke <mail@platdesign.de>
	@since		September 10th 2017, 12:22:30 pm
//- - - - - - - - - - - - - - - - - - - - - - - - - - - - -


viw(:class="$css.component", v-if="isVisible", split="rows")
	slot
